@model ContactPost

@{
    ViewData["Title"] = "Contact";
}

<section class="about-page">
    <div>
        <h1>Contact Us</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>



<section class="contact-marizona">
    <div class="container">
        <div class="contact-us">
            <div class="contact-us__header">
                <h2>Call us or visit place</h2>
                <p id="contact-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolor?</p>
                <div class="row">
                    <div class="contact-details">
                        <div class="contact-detail">
                            <span class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                            <span class="contact-detail__title">Phone:</span>
                            <p>Lorem, ipsum.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="contact-detail">
                            <span class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="contact-detail__title">Phone:</span>
                            <p>Lorem, ipsum.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                        <div class="contact-detail">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="contact-detail__title">Phone:</span>
                            <p>Lorem, ipsum.</p>
                            <p>Lorem, ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-us__body">
                <div class="contact-us__body__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.433374128522!2d49.8539949!3d40.3770867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1637760852056!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contact-us__body__form">
                    <h2 id="contact-form-title">Send us a message</h2>
                    <p id="contact-form-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

                    <form id="form" method="post">
                        @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                        {
                            <div class="alert alert-success text-black" style="width: 100%">
                                @ViewBag.Message
                            </div>
                        }
                        <br />
                        <div class="form-control" id="form-control-name">
                            <label for="name"></label>
                            <input asp-for="Name"
                                   id="name"
                                   placeholder="Your name"
                                   data-rule-required="true"
                                   data-msg-required="Name bosh buraxila bilmez" />
                            <small id="nameSmall">Name must be at least 3 characters</small>
                        </div>
                        <div class="form-control" id="form-control-email">
                            <label for="email"></label>
                            <input asp-for="Email"
                                   id="email"
                                   type="text"
                                   placeholder="Email"
                                   data-rule-required="true"
                                   data-msg-required="Bosh buraxila bilmez"
                                   data-rule-email="true"
                                   data-msg-email="Email formata uyqun deyil">
                            <small id="emailSmall">Email is not required</small>
                        </div>
                        <div class="form-control" id="form-control-subject">
                            <label for="subject"></label>
                            <input asp-for="Subject"
                                   id="subject"
                                   placeholder="Subject"
                                   data-rule-required="true"
                                   data-msg-required="Subject bosh buraxila bilmez">
                            <small id="subjectSmall">Subject must be at least 5 characters</small>
                        </div>

                        <div class="form-control" id="form-control-comment">
                            <textarea asp-for="Comment"
                                      id="textarea"
                                      cols="10"
                                      rows="10"
                                      placeholder="Comment"
                                      data-rule-required="true"
                                      data-msg-required="Comment bosh buraxila bilmez"></textarea>
                            <small id="commentSmall">Email is not required</small>
                        </div>
                        <button type="submit" class="btn-hard-md" id="submit">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section addcss{

    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />

    <style>
        .is-invalid {
            color: #dc3545 !important;
            border: 1px solid #dc3545 !important;
        }

            .is-invalid + span.error {
                color: #dc3545;
                font-size: 13px;
                margin-left: 10px;
                margin-top: 5px;
            }

        .is-valid {
            color: teal !important;
            border: 1px solid teal !important;
        }
    </style>
}
@section addjs{
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    @*<script src="~/assets/js/contact-form.js"></script>*@
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>
    @*<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@


    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(document).ready(function () {
            $('#form')
                .submit(function (e) {
                    e.preventDefault();
                    const isValid = $(e.currentTarget).valid();
                    if (isValid != true)
                        return;

                    const formData = new FormData(e.currentTarget);
                    $.ajax({
                        url: '',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            console.log();

                            if (response.error == false) {
                                e.currentTarget.reset();
                                toastr.success(response.message, "Success")


                                $(e.currentTarget).find('.is-valid').removeClass('is-valid');
                            }
                            else {
                                toastr.error(response.message, "Error")
                            }
                        },
                        error: function (response) {
                            toastr.error("Teyin edilmeyen xeta bash verib, biraz sonra yeniden yoxlayin.", "Error")
                        },
                    })
                })
                .validate({
                    errorElement: 'span',
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid').removeClass('is-valid');
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-valid').removeClass('is-invalid');
                    },
                })
        })
    </script>
}



