
@{
    ViewData["Title"] = "Index";
}




<section class="category">
    <div class="categories owl-carousel owl-theme">
        <div class="categories-item item">
            <a href="#">
                <div class="categories-img-wrap">
                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/09/category-11.png" alt="">
                    <div id="img-background"></div>
                </div>
                <span>BURGERS</span>
            </a>
        </div>
        <div class="categories-item item">
            <a href="#">
                <div class="categories-img-wrap">
                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/09/category-22.png" alt="">
                    <div id="img-background"></div>
                </div>
                <span>PASTA</span>
            </a>
        </div>
        <div class="categories-item item">
            <a href="#">
                <div class="categories-img-wrap">
                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/08/category3.png" alt="">
                    <div id="img-background"></div>
                </div>
                <span>PIZZA</span>
            </a>
        </div>
        <div class="categories-item item">
            <a href="#">
                <div class="categories-img-wrap">
                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/09/category-44.png" alt="">
                    <div id="img-background"></div>
                </div>
                <span>HOT DRINKS</span>
            </a>
        </div>
        <div class="categories-item item">
            <a href="#">
                <div class="categories-img-wrap">
                    <img src="https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/09/category-55.png" alt="">
                </div>
                <span>COLD DRINKS</span>
            </a>
        </div>
    </div>
</section>

<main>
    <section>
        <div class="main">
            <div class="main-ad">
                <span class="main-ad__slogan">Buy one get one</span>
                <h2 class="main-ad__title">PIZZA TIME</h2>
                <span class="main-ad__description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green olives, black olives, fresh tomatoes.</span>
                <a asp-controller="home" asp-action="contact">
                    <button class="btn-hard-md">ORDER NOW</button>
                </a>
            </div>
        </div>
    </section>
</main>


<div class="main-parent-for-ads">
    <div class="container wrapper">
        <section class="ads">
            <div class="ad-wrapper-1">
                <span class="ad-title-sub">American</span>
                <h2 class="ad-title-main">Burger</h2>
                <p class="ad-slogan">* one phone call away</p>
                <a asp-controller="home" asp-action="contact"><button class="btn-hard-sm">HOT & SPICY</button></a>
            </div>
            <div class="ads-wrapper">
                <div class="ad-wrappers ad-wrappers__2">
                    <span class="ad-title-sub">Good</span>
                    <h2 class="ad-title-main">Food</h2>
                    <p class="ad-slogan">
                        For Online Orders
                        in Wendesdays.
                    </p>
                    <a asp-controller="home" asp-action="contact"><button class="btn-hard-sm">ORDER NOW</button></a>
                </div>
                <div class="ad-wrappers ad-wrappers__3">
                    <span class="ad-title-sub">Fastboy</span>
                    <h2 class="ad-title-main">Combo</h2>
                    <p class="ad-slogan">
                        For Online Orders
                        in Wendesdays.
                    </p>
                    <a asp-controller="home" asp-action="contact"><button class="btn-hard-sm">ORDER NOW</button></a>
                </div>
            </div>
            <div class="ad-wrapper-4">
                <span class="ad-title-sub">America</span>
                <h2 class="ad-title-main">Hotdog</h2>
                <p class="ad-slogan">Double Sauce</p>
                <a asp-controller="home" asp-action="contact"><button class="btn-hard-sm">ORDER NOW</button></a>
            </div>
        </section>

        <div class="slogans">
            <div class="slogan">
                <img class="slogan__icon" src="~/uploads/icons/fast-delivery-orange.png" alt="">
                <div>
                    <h3 class="slogan__title">Free shipping</h3>
                    <p class="slogan__description">Sign up for updates and get free shipping</p>
                </div>
            </div>
            <div class="slogan">
                <img class="slogan__icon" src="~/uploads/icons/clock.png" alt="">
                <div>
                    <h3 class="slogan__title">30 Minutes Delivery</h3>
                    <p class="slogan__description">Everything you order will be quickly delivered to your door.</p>
                </div>
            </div>
            <div class="slogan">
                <img class="slogan__icon" src="~/uploads/icons/pizza-slice.png" alt="">
                <div>
                    <h3 class="slogan__title">Best Quality Guarantee</h3>
                    <p class="slogan__description">Poco is an international chain of family restaurants.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="text-animation">
    <img class="burger-1" src="~/uploads/images/flying-burger-isolated-on-white-background.png" alt="">
    <img class="burger-2" src="~/uploads/images/2-1-600x600.png" alt="">
    <img class="burger-3" src="~/uploads/images/14-1-600x600.png" alt="">
    <div class="text">
        <h2 style="--i:0.5"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:2.5"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1.5"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:0.25"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1.25"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:2.75"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1.15"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:0.35"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1.5"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:0.65"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:0.5"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
        <h2 style="--i:1.75"><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span><span>Fast Food Marizona! </span></h2>
    </div>
</section>


<section class="popular-dishes">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Popular Dishes</h2>
            <span class="title__link">
                See all
                <a asp-controller="shop" asp-action="index" class="title__link__wrapper">
                    <i class="fas fa-angle-right"></i>
                </a>
            </span>
        </div>

        <div class="row">
            <div class="cards">
                <div class="card card-1">
                    <div class="image-wrapper">
                        <a href="" class="image">
                            <img src="~/uploads/images/54.1.png" alt="">
                        </a>
                        <span class="icon"><i class="fas fa-heart"></i></span>
                    </div>
                    <div class="product-caption">
                        <ul class="product-stars">
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                        </ul>
                        <a asp-controller="shop" asp-action="details" class="product-title">Water Bottle</a>
                        <div class="product-mini-description">Investing in a reusable water bottle that you can refill throughout the day...</div>
                        <div class="price-basket">
                            <div>
                                <span class="main-price">$10.18</span>
                                <span class="price">$12.00</span>
                            </div>
                            <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                        </div>
                    </div>
                </div>




                <div class="card card-2">
                    <div class="image-wrapper">
                        <a href="" class="image">
                            <img src="~/uploads/images/53-1.png" alt="">
                        </a>
                        <span class="icon"><i class="fas fa-heart"></i></span>
                    </div>
                    <div class="product-caption">
                        <ul class="product-stars">
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                        </ul>
                        <a asp-controller="shop" asp-action="details" class="product-title">Vegge Lover</a>
                        <div class="product-mini-description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green...</div>
                        <div class="price-basket">
                            <div>
                                <span class="main-price"></span>
                                <span class="price">$14.90</span>
                            </div>
                            <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                        </div>
                    </div>
                </div>


                <div class="card card-3">
                    <div class="image-wrapper">
                        <a href="" class="image">
                            <img src="~/uploads/images/52-1.png" alt="">
                        </a>
                        <span class="icon"><i class="fas fa-heart"></i></span>
                    </div>
                    <div class="product-caption">
                        <ul class="product-stars">
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                        </ul>
                        <a asp-controller="shop" asp-action="details" class="product-title">Tropicana Juice</a>
                        <div class="product-mini-description">View great tasting Tropicana Orange Juice and Juice Drink Products...</div>
                        <div class="price-basket">
                            <div>
                                <span class="main-price"></span>
                                <span class="price">$11.11</span>
                            </div>
                            <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                        </div>
                    </div>
                </div>

                <div class=" card card-4">
                    <div class="image-wrapper">
                        <a href="" class="image">
                            <img src="~/uploads/images/51-1.png" alt="">
                        </a>
                        <span class="icon"><i class="fas fa-heart"></i></span>
                    </div>
                    <div class="product-caption">
                        <ul class="product-stars">
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                            <li class="rate-star"><i class="far fa-star"></i></li>
                        </ul>
                        <a asp-controller="shop" asp-action="details" class="product-title">Trio Cheese</a>
                        <div class="product-mini-description">Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and...</div>
                        <div class="price-basket">
                            <div>
                                <span class="main-price is-sale">$16.93</span>
                                <span class="price">$12.00</span>
                            </div>
                            <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="first-section">
    <h2>Super delicious pizza <br /><span>Feel Hunger! Order Your Favouriate Food.</span></h2>
    <img class="shape-1" src="~/uploads/images/h2_shape-3.png" alt="">
    <img class="shape-2" src="~/uploads/images/h2_shape-4.png" alt="">
    <img class="shape-3" src="~/uploads/images/51-1.png" alt="">
    <img class="shape-4" src="~/uploads/images/h2_shape-4.png" alt="">
    <img class="shape-5" src="~/uploads/images/h2_shape-3.png" alt="">
    <div class="images-wrapper">
        <img class="section_1_bg" src="~/uploads/images/unnamed.png" />
        <div class="ingredient-images">
            <img class="section_1_01" src="~/uploads/images/section_1_01.webp" />
            <img class="section_1_02" src="~/uploads/images/section_1_02.webp" />
            <img class="section_1_03" src="~/uploads/images/section_1_03.webp" />
            <img class="section_1_04" src="~/uploads/images/section_1_04.webp" />
            <img class="section_1_05" src="~/uploads/images/section_1_05.webp" />
            <img class="section_1_06" src="~/uploads/images/section_1_06.webp" />
            <img class="section_1_07" src="~/uploads/images/section_1_07.webp" />
            <img class="section_1_08" src="~/uploads/images/section_1_08.webp" />
            <img class="section_1_09" src="~/uploads/images/section_1_09.webp" />
        </div>
    </div>
</section>

<div class="container">
    <section class="top-recipes">
        <div class="top-recipes__wrapper">
            <div class="title">
                <h2 class="title__text">Top recipes</h2>
                <span class="title__link">
                    See all
                    <a asp-controller="shop" asp-action="index" class="title__link__wrapper">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </span>
            </div>
            <div class="product-items">
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/3-1-600x600.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    BBQ chicken breast
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Pasta
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.61</span>
                                    <span class="price">$8.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/1-1-600x600.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    Apricot Chicken
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Pizza
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$18.30</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/5-1.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    Blueberry Shake
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Cold Drinks
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$10.68</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/2-1-600x600.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    Bacon Burger
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Burgers
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$10.95</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/27-1-600x600.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    Kiwi Smoothie
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Cold Drinks
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$12.33</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-item__wrap">
                        <img src="~/uploads/images/25-1-600x600.png" alt="">
                        <div class="description-wrap">
                            <a asp-controller="shop" asp-action="details" class="product-title">
                                <span class="product-title">
                                    Iced Tea Bottle
                                </span>
                            </a>
                            <a href="#" class="product-type">
                                <span class="product-type">
                                    Cold Drinks
                                </span>
                            </a>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$11.89</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="poster">
            <span class="slogan">Super Delicious</span>
            <h2>CHICKEN</h2>
            <span class="for-call">CALL US NOW:</span>
            <span class="phone-number">1-800-555-333</span>
        </div>
    </section>
</div>

<div class="container">
    <section class="random-product-about">
        <div>
            <img src="~/uploads/images/h2_shape-2.png" alt="burger">
        </div>
        <div class="description">
            <span class="description__title">About Our Food</span>
            <h2 class="description__slogan">From Texas with American Love</h2>
            <p class="description__short">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a asp-controller="home" asp-action="contact">
                <button class="btn-hard-md">ORDER NOW</button>
            </a>
        </div>
    </section>
</div>

<div class="container-fluid" style="padding: 0px;">
    <section class="special-posters">
        <div class="poster-1">
            <div class="poster-wrap">
                <h3 class="product-type">Fast Food</h3>
                <h2 class="product-title">Meals</h2>
                <span class="product-description">
                    NEW PHENOMENON <br>
                    BURGER TASTE
                </span>
                <h2 class="product-price">$19.90</h2>
                <a asp-controller="home" asp-action="contact">
                    <button class="btn-hard-md">ORDER NOW</button>
                </a>
            </div>
            <img src="~/uploads/images/h1_shape-2.png" alt="">
        </div>
        <div class="poster-2">
            <div class="poster-wrap">
                <h3 class="product-type">House</h3>
                <h2 class="product-title">Burgers</h2>
                <span class="product-description">
                    NEW PHENOMENON <br>
                    BURGER TASTE
                </span>
                <h2 class="product-price">$12.90</h2>
                <a asp-controller="home" asp-action="contact">
                    <button class="btn-hard-md">ORDER NOW</button>
                </a>
            </div>
            <img src="~/uploads/images/h1_shape-3.png" alt="">
        </div>
        <div class="poster-3">
            <div class="poster-wrap">
                <h3 class="product-type">Hot Fresh</h3>
                <h2 class="product-title">Salats</h2>
                <span class="product-description">
                    NEW PHENOMENON <br>
                    BURGER TASTE
                </span>
                <h2 class="product-price">$10.90</h2>
                <a asp-controller="home" asp-action="contact">
                    <button class="btn-hard-md">ORDER NOW</button>
                </a>
            </div>
            <img src="~/uploads/images/h1_shape-4.png" alt="">
        </div>
    </section>
</div>

<section>
    <div class="container">
        <div class="lasted-news">
            <div class="title">
                <h2 class="title__text">Top recipes</h2>
                <span class="title__link">
                    See all
                    <a asp-controller="blog" asp-action="index" class="title__link__wrapper">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </span>
            </div>
            <div class="lasted-news__cards">
                <div class="blog-card">
                    <div class="blog-card__img">
                        <img src="~/uploads/images/blog-5-500x330.jpg" alt="blog-img">
                        <div></div>
                    </div>
                    <div class="blog-card__body">
                        <span class="blog-card__body__category">category</span>
                        <span class="blog-card__body__slash">/</span>
                        <span class="blog-card__body__time">07.34.2021</span>
                        <h3 class="blog-card__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-card__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-card__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-card__img">
                        <img src="~/uploads/images/blog-1-500x330.jpg" alt="blog-img">
                        <div></div>
                    </div>
                    <div class="blog-card__body">
                        <span class="blog-card__body__category">category</span>
                        <span class="blog-card__body__slash">/</span>
                        <span class="blog-card__body__time">07.34.2021</span>
                        <h3 class="blog-card__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-card__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-card__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-card__img">
                        <img src="~/uploads/images/blog-2-500x330.jpg" alt="blog-img">
                    </div>
                    <div class="blog-card__body">
                        <span class="blog-card__body__category">category</span>
                        <span class="blog-card__body__slash">/</span>
                        <span class="blog-card__body__time">07.34.2021</span>
                        <h3 class="blog-card__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-card__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-card__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>