@model CategoryBlogPostViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="about-page">
    <div>
        <h1>About us</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>




<div class="container">
    <div class="blog-details">
        <div class="blog-width">
            <div class="blog-wrapper">
                <div class="blog-post">
                    <div class="img">
                        <img src="~/uploads/images/@Model.BlogPost.ImagePath" alt="">
                    </div>
                    <div class="blog-post__body">
                        <div class="blog-post__body">
                            <h2 class="blog-post__body__title">
                                10 Reasons To Do A Digital Detox Challenge
                            </h2>
                            <span class="blog-post__body__category">category</span>
                            <span class="blog-post__body__slash">/</span>
                            <span class="blog-post__body__time">07.34.2021</span>
                            <br>
                            @if (Model.BlogPost.Description != null)
                            {
                                @Html.Raw(Model.BlogPost.Description)
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-wrapper">
                <h2> 3 Comment </h2>
                <div class="comments">
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="write-comment">
                <h2 class="write-comment__title">Leave a Reply</h2>
                <form>
                    <label for="comment"></label>
                    <textarea name="comment" id="comment" placeholder="Your Comment..."></textarea>
                    <a href="#"><button class="btn-hard-md">POST COMMENT</button></a>
                </form>
            </div>
        </div>




        <div class="right-aside">
            <div class="categories">
                <span class="category-title">Categories</span>
                <div class="categories__body">
                    <ul class="categories__body__items">
                        <li class="categories__body__items__item">
                            <a asp-controller="shop" asp-action="index">
                                <div class="item-overview">

                                    <img src="~/uploads/images/burger-aside.png" alt="">

                                    <span class="category-title-sub">
                                        Burgers
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="categories__body__items__item">
                            <a asp-controller="shop" asp-action="index">
                                <div class="item-overview">

                                    <img src="~/uploads/images/cocktail-aside.png" alt="">

                                    <span class="category-title-sub">
                                        Cold Drinks
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="categories__body__items__item">
                            <a asp-controller="shop" asp-action="index">
                                <div class="item-overview">

                                    <img src="~/uploads/images/coffee-cup-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Hot Drinks
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="categories__body__items__item">
                            <a asp-controller="shop" asp-action="index">
                                <div class="item-overview">

                                    <img src="~/uploads/images/french-fries-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Pasta
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="categories__body__items__item">
                            <a asp-controller="shop" asp-action="index">
                                <div class="item-overview">

                                    <img src="~/uploads/images/pizza-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Pizza
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="recent-posts">
                <span class="category-title">Recent post</span>
                @foreach (var item in Model.RecentBlogs)
                {
                    <div class="recent-post">
                        <img src="~/uploads/images/@item.ImagePath" alt="">
                        <div class="recent-post__description">
                            <a class="recent-post-link" asp-controller="blog" asp-action="details" asp-route-id="@item.Id">@item.Title</a>
                            <span class="time">
                                @item.CreatedDate.ToString("MM/dd/yyyy")
                            </span>
                        </div>
                    </div>
                }
            </div>

            <div class="blog-ad">
                <div class="blog-ad__wrapper">
                    <span class="blog-ad__wrapper__slogan">
                        Super Delicious
                    </span>
                    <span class="blog-ad__wrapper__title">
                        Chicken
                    </span>
                    <span class="blog-ad__wrapper__call">
                        call us now:
                    </span>
                    <span class="blog-ad__wrapper__number">
                        050-657-09-01
                    </span>
                    <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                </div>
            </div>
        </div>
    </div>
</div>


@section addcss{
    <style>
        .card {
            position: relative;
        }

        .product-caption-wrapper {
            width: 90%;
            position: absolute;
            bottom: 25px;
        }

        .product-caption {
            width: 100%;
        }

        .recent-post-link {
            display: block;
        }

        .recent-post {
            justify-content: normal !important;
        }
    </style>

}