
@{
    ViewData["Title"] = "Details";
}

<section class="about-page">
    <div>
        <h1>About us</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>




<div class="container">
    <div class="blog-details">
        <div class="blog-width">
            <div class="blog-wrapper">
                <div class="blog-post">
                    <div class="img">
                        <img src="~/uploads/images/history_2010.jpg" alt="">
                    </div>
                    <div class="blog-post__body">
                        <h2 class="blog-post__body__title">
                            10 Reasons To Do A Digital Detox Challenge
                        </h2>
                        <span class="blog-post__body__category">category</span>
                        <span class="blog-post__body__slash">/</span>
                        <span class="blog-post__body__time">07.34.2021</span>
                        <br>
                        <p class="blog-post__body__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse assumenda minima est reiciendis at non quibusdam aliquid corporis beatae ut.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, inventore. <br><br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio ab ratione enim, illo consequatur pariatur!
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium cupiditate adipisci alias perferendis necessitatibus?Lorem ipsum d
                            olor sit amet consectetur adipisicing elit. Maxime necessitatibus, quaerat consequuntur tenetur voluptas sol
                            it quod velit provident magni a atque vero facilis veritatis, incidunt alias esse vitae libero voluptate totam, laudantium consectetur.
                        </p>
                        <h3 class="blog-post__body__sub-title">
                            <i class="fas fa-quote-right"></i>
                            Champions keep playing until they get it right. I want my tennis to speak for everything. When you do something best in life, you don’t really want to give that up – and for me it’s tennis.
                        </h3>
                        <p class="blog-post__body__sub-description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Laudantium non ipsa libero debitis, tempore mollitia ipsum,
                            aliquam pariatur necessitatibus exercitationem architecto,
                            sapiente error porro nobis deserunt sit eius? Ullam, deleniti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, adipisci.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comment-wrapper">
                <h2> 3 Comment </h2>
                <div class="comments">
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="~/uploads/images/user.jpg" alt="">
                        <div class="comment-body">
                            <span class="comment-username">Marz</span>
                            <span class="comment-date"><i class="far fa-clock"></i>01.11.2021</span>
                            <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <a href="#" class="comment-reply">reply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="write-comment">
                <h2 class="write-comment__title">Leave a Reply</h2>
                <form>
                    <label for="comment"></label>
                    <textarea name="comment" id="comment" placeholder="Your Comment..."></textarea>
                    <a href="#"><button class="btn-hard-md">POST COMMENT</button></a>
                </form>
            </div>
        </div>




        <div class="right-aside">
            <div class="categories">
                <span class="category-title">Categories</span>
                <div class="categories__body">
                    <ul class="categories__body__items">
                        <li class="categories__body__items__item">
                            <a href="#">
                                <div class="item-overview">

                                    <img src="~/uploads/images/burger-aside.png" alt="">

                                    <span class="category-title-sub">
                                        Burgers
                                    </span>
                                </div>
                            </a>
                            <span class="item-count">
                                (18)
                            </span>
                        </li>
                        <li class="categories__body__items__item">
                            <a href="#">
                                <div class="item-overview">

                                    <img src="~/uploads/images/cocktail-aside.png" alt="">

                                    <span class="category-title-sub">
                                        Cold Drinks
                                    </span>
                                </div>
                            </a>
                            <span class="item-count">
                                (9)
                            </span>
                        </li>
                        <li class="categories__body__items__item">
                            <a href="#">
                                <div class="item-overview">

                                    <img src="~/uploads/images/coffee-cup-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Hot Drinks
                                    </span>
                                </div>
                            </a>
                            <span class="item-count">
                                (33)
                            </span>
                        </li>
                        <li class="categories__body__items__item">
                            <a href="#">
                                <div class="item-overview">

                                    <img src="~/uploads/images/french-fries-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Pasta
                                    </span>
                                </div>
                            </a>
                            <span class="item-count">
                                (12)
                            </span>
                        </li>
                        <li class="categories__body__items__item">
                            <a href="#">
                                <div class="item-overview">

                                    <img src="~/uploads/images/pizza-aside.png" alt="">
                                    <span class="category-title-sub">
                                        Pizza
                                    </span>
                                </div>
                            </a>
                            <span class="item-count">
                                (20)
                            </span>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="recent-posts">
                <span class="category-title">Recent post</span>

                <div class="recent-post">
                    <img src="~/uploads/images/shaafi-ali-I0IXBZDEAHo-unsplash.jpg" alt="">
                    <div class="recent-post__description">
                        <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                        <span class="time">
                            August 31, 2020
                        </span>
                    </div>
                </div>
                <div class="recent-post">
                    <img src="~/uploads/images/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg" alt="">
                    <div class="recent-post__description">
                        <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                        <span class="time">
                            August 31, 2020
                        </span>
                    </div>
                </div>
                <div class="recent-post">
                    <img src="~/uploads/images/paula-vermeulen-URjZkhqsuBk-unsplash.jpg" alt="">
                    <div class="recent-post__description">
                        <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                        <span class="time">
                            August 31, 2020
                        </span>
                    </div>
                </div>
            </div>

            <div class="blog-ad">
                <div class="blog-ad__wrapper">
                    <span class="blog-ad__wrapper__slogan">
                        Super Delicious
                    </span>
                    <span class="blog-ad__wrapper__title">
                        Chicken
                    </span>
                    <span class="blog-ad__wrapper__call">
                        call us now:
                    </span>
                    <span class="blog-ad__wrapper__number">
                        050-657-09-01
                    </span>
                    <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                </div>
            </div>
        </div>
    </div>
</div>