
@{
    ViewData["Title"] = "Index";
}

<section class="about-page">
    <div>
        <h1>Our Blog</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>




<section class="blogs">
    <div class="container">
        <div class="blog">
            <div class="blog-posts">
                <div class="blog-post">
                    <div class="blog-post__img">
                        <img src="~/uploads/images/shaafi-ali-I0IXBZDEAHo-unsplash.jpg" alt="blog-img">
                        <div></div>
                    </div>
                    <div class="blog-post__body">
                        <span class="blog-post__body__category">category</span>
                        <span class="blog-post__body__slash">/</span>
                        <span class="blog-post__body__time">07.34.2021</span>
                        <h3 class="blog-post__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-post__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-post__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="blog-post__img">
                        <img src="~/uploads/images/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg" alt="blog-img">
                        <div></div>
                    </div>
                    <div class="blog-post__body">
                        <span class="blog-post__body__category">category</span>
                        <span class="blog-post__body__slash">/</span>
                        <span class="blog-post__body__time">07.34.2021</span>
                        <h3 class="blog-post__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-post__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-post__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="blog-post__img">
                        <img src="~/uploads/images/paula-vermeulen-URjZkhqsuBk-unsplash.jpg" alt="blog-img">
                    </div>
                    <div class="blog-post__body">
                        <span class="blog-post__body__category">category</span>
                        <span class="blog-post__body__slash">/</span>
                        <span class="blog-post__body__time">07.34.2021</span>
                        <h3 class="blog-post__body__title">
                            <a href="#">
                                10 Reasons To Do A Digital Detox Challenge
                            </a>
                        </h3>
                        <p class="blog-post__body__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Voluptates eligendi laudantium culpa veritatis explicabo, quisquam repellat deleniti
                            error dolorum numquam praesentium, minus tempora, enim magni. Laudantium, a. Sequi, cum tempore.
                        </p>
                        <div class="blog-post__body__button">
                            <a href="#">
                                <button class="btn-hard-md">
                                    READ MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-aside">
                <div class="categories">
                    <span class="category-title">Categories</span>
                    <div class="categories__body">
                        <ul class="categories__body__items">
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/burger-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Burgers
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (18)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/cocktail-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Cold Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (9)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/coffee-cup-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Hot Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (33)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/french-fries-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pasta
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (12)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/pizza-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pizza
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (20)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="category-tags">
                    <span class="category-title">Categories</span>

                    <a href="#">
                        beer
                    </a>
                    <a href="#">
                        delicious
                    </a>
                    <a href="#">
                        burgers
                    </a>
                    <a href="#">
                        fast food
                    </a>
                    <a href="#">
                        meat
                    </a>
                    <a href="#">
                        pizza
                    </a>
                    <a href="#">
                        drink
                    </a>
                </div>


                <div class="recent-posts">
                    <span class="category-title">Recent post</span>

                    <div class="recent-post">
                        <img src="~/uploads/images/shaafi-ali-I0IXBZDEAHo-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <img src="~/uploads/images/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <img src="~/uploads/images/paula-vermeulen-URjZkhqsuBk-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-ad">
                    <div class="blog-ad__wrapper">
                        <span class="blog-ad__wrapper__slogan">
                            Super Delicious
                        </span>
                        <span class="blog-ad__wrapper__title">
                            Chicken
                        </span>
                        <span class="blog-ad__wrapper__call">
                            call us now:
                        </span>
                        <span class="blog-ad__wrapper__number">
                            050-657-09-01
                        </span>
                        <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section addjs{
    <script src="./assets/js/filter-shop.js"></script>
}