// COLORS
$color-main-orange: #FFC222;
$color-main-text-orange: #dfab00;
$color-main-green: #00A149;
$color-white: #FFFFFF;
$color-main-black: #1E1D23;
$color-sub-text: #808080;
$color-section-bg-light: #F7F2E2;
$color-section-bg-dark: #181818;
$color-orane-light: #ffe093;



// FONT
$default-font-size: 1.6rem;


//responsive
$mobile-width: 600px;
$tablet-width: 1024px;