
@{
    ViewData["Title"] = "Index";
}

<section class="about-page">
    <div>
        <h1 id="page-title">SHOP</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>

<section class="shop">
    <div class="container">
        <div class="shop-wrapper">
            <div class="product-items-aside">
                <div class="cards">
                    <div data-category="hot-drink" class="card card-1">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/54.1.png" alt="">
                            </a>
                            <span class="icon-wishlist"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Water Bottle</a>
                            <div class="product-mini-description">Investing in a reusable water bottle that you can refill throughout the day...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price">$10.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class="card card-2">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/53-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Vegge Lover</a>
                            <div class="product-mini-description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$14.90</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="cold-drink" class="card card-3">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/52-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Tropicana Juice</a>
                            <div class="product-mini-description">View great tasting Tropicana Orange Juice and Juice Drink Products...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$11.11</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class=" card card-4">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/51-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Trio Cheese</a>
                            <div class="product-mini-description">Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$16.93</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="hot-drink" class="card card-1">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/54.1.png" alt="">
                            </a>
                            <span class="icon-wishlist"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Water Bottle</a>
                            <div class="product-mini-description">Investing in a reusable water bottle that you can refill throughout the day...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price">$10.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class="card card-2">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/53-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Vegge Lover</a>
                            <div class="product-mini-description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$14.90</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="cold-drink" class="card card-3">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/52-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Tropicana Juice</a>
                            <div class="product-mini-description">View great tasting Tropicana Orange Juice and Juice Drink Products...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$11.11</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class=" card card-4">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/51-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Trio Cheese</a>
                            <div class="product-mini-description">Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$16.93</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="hot-drink" class="card card-1">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/54.1.png" alt="">
                            </a>
                            <span class="icon-wishlist"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Water Bottle</a>
                            <div class="product-mini-description">Investing in a reusable water bottle that you can refill throughout the day...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price">$10.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class="card card-2">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/53-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Vegge Lover</a>
                            <div class="product-mini-description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$14.90</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="cold-drink" class="card card-3">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/52-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Tropicana Juice</a>
                            <div class="product-mini-description">View great tasting Tropicana Orange Juice and Juice Drink Products...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$11.11</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class=" card card-4">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/51-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Trio Cheese</a>
                            <div class="product-mini-description">Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$16.93</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="hot-drink" class="card card-1">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/54.1.png" alt="">
                            </a>
                            <span class="icon-wishlist"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Water Bottle</a>
                            <div class="product-mini-description">Investing in a reusable water bottle that you can refill throughout the day...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price">$10.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class="card card-2">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/53-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Vegge Lover</a>
                            <div class="product-mini-description">Extra-virgin olive oil, garlic, mozzarella cheese, onions, mushrooms, green...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$14.90</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="cold-drink" class="card card-3">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/52-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Tropicana Juice</a>
                            <div class="product-mini-description">View great tasting Tropicana Orange Juice and Juice Drink Products...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price"></span>
                                    <span class="price">$11.11</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <div data-category="pizza" class=" card card-4">
                        <div class="image-wrapper">
                            <a href="" class="image">
                                <img src="~/uploads/images/51-1.png" alt="">
                            </a>
                            <span class="icon"><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="product-caption">
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <a asp-controller="shop" asp-action="details" class="product-title">Trio Cheese</a>
                            <div class="product-mini-description">Mouth watering pepperoni, cabanossi, mushroom, capsicum, black olives and...</div>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$16.93</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right-aside">
                <div class="categories">
                    <span class="category-title">Categories</span>
                    <div class="categories__body">
                        <ul class="categories__body__items filter-shop">
                            <li data-filter="burger" class="categories__body__items__item acti">
                                <a href="#" class="category-title-sub-touch">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/burger-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Burgers
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (18)
                                </span>
                            </li>
                            <li data-filter="cold-drink" class="categories__body__items__item">
                                <a href="#" class="category-title-sub-touch">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/cocktail-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Cold Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (9)
                                </span>
                            </li>
                            <li data-filter="hot-drink" class="categories__body__items__item">
                                <a href="#" class="category-title-sub-touch">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/coffee-cup-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Hot Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (33)
                                </span>
                            </li>
                            <li data-filter="pasta" class="categories__body__items__item">
                                <a href="#" class="category-title-sub-touch">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/french-fries-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pasta
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (12)
                                </span>
                            </li>
                            <li data-filter="pizza" class="categories__body__items__item">
                                <a href="#" class="category-title-sub-touch">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/pizza-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pizza
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (20)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="recent-posts">
                    <span class="category-title">Recent post</span>

                    <div class="recent-post">
                        <img src="~/uploads/images/shaafi-ali-I0IXBZDEAHo-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <img src="~/uploads/images/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <img src="~/uploads/images/paula-vermeulen-URjZkhqsuBk-unsplash.jpg" alt="">
                        <div class="recent-post__description">
                            <a href="#">Traditional Soft Pretzels with Sweet Beer Cheese</a>
                            <span class="time">
                                August 31, 2020
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-ad">
                    <div class="blog-ad__wrapper">
                        <span class="blog-ad__wrapper__slogan">
                            Super Delicious
                        </span>
                        <span class="blog-ad__wrapper__title">
                            Chicken
                        </span>
                        <span class="blog-ad__wrapper__call">
                            call us now:
                        </span>
                        <span class="blog-ad__wrapper__number">
                            050-657-09-01
                        </span>
                        <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section addjs{
    <script src="~/assets/js/filter-shop.js"></script>

    <script>
        const pageTitle = document.getElementById("page-title");
        const spans = document.querySelectorAll(".category-title-sub-touch");
        let spanText;
    
        spans.forEach(span => {
            span.addEventListener('click', (e) => {
                e.preventDefault();
                spanText = e.target.innerText;
                pageTitle.innerText = spanText;
            })
        });
    </script>
}

