
@{
    ViewBag.Title = "Dashboard";
}

<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Hello Page</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Salam</h5>
                    <span>
                        Xoş gəlmişsiniz!
                    </span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li>
                                <i class="feather icon-minus minimize-card"></i>
                            </li>
                            <li><i class="feather icon-trash-2 close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <p>
                        Navbardan istədiyiniz bölməni seçərək CRUD edə bilərsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
